extends layout
block content
    div.container-fluid
        div.panel
            div.panel-heading
                h1 HN Feed
                h4 We <3 hacker news!
            div.panel-body
                div.container
                    div.table-responsive
                        table(class='table')
                            each article, i in articles
                                if(article.url === null)
                                    -var url = article.story_url
                                else
                                    -var url = article.url

                                if(article.story_title === null)
                                    -var title = article.title
                                else
                                    -var title = article.story_title

                                -var url_id = "/delete/" + article._id

                                tr(data-href=url)
                                    td(class='table-row')
                                        a(href=article.url)
                                            p(class='Title') #{title}
                                            p(class='Author') - #{article.author} -
                                    td(class='table-row')
                                        span(class='prettydate')
                                            p(class='Time') #{article.created_at}
                                    td
                                        a(href=url_id class='trash' )
                                            span(class='glyphicon glyphicon-trash')

